In [16]:
###################数据清洗，对于缺失值可以去掉整行，整列，或者用中位数、平均数进行替代
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels as sm
from numpy import nan as Na####处理缺失值

In [86]:
data=pd.DataFrame([
    [1,Nan,3.5,Nan],[1,3,4,5],[Na,Nan,Na,NA]])
data

     0    1    2    3
0  1.0  NaN  3.5  NaN
1  1.0  3.0  4.0  5.0
2  NaN  NaN  NaN  NaN

In [25]:
data.dropna()####直接删除包含缺失值的行

     0    1    2    3
1  1.0  3.0  4.0  5.0

In [26]:
data.dropna(how='all')#####只去掉全是缺失值的行

     0    1    2    3
0  1.0  NaN  3.5  NaN
1  1.0  3.0  4.0  5.0

In [30]:
data.dropna(thresh=1)######保留至少有thresh个非NaN数据的行

     0    1    2    3
0  1.0  NaN  3.5  NaN
1  1.0  3.0  4.0  5.0

In [65]:
##填充缺失数据使用fillna
data=pd.DataFrame([ [1,Nan,3.5,Nan],[1,3,4,5],[Na,Nan,Na,NA]])
data.fillna(data.mean())####使用平均值填充数据

     0    1     2    3
0  1.0  3.0  3.50  5.0
1  1.0  3.0  4.00  5.0
2  1.0  3.0  3.75  5.0

In [49]:
#默认返回新的对象也可以就地修改
data.fillna(1,inplace=True)
data
data[data>1]

    0    1    2    3
0 NaN  NaN  3.5  NaN
1 NaN  3.0  4.0  5.0
2 NaN  NaN  NaN  NaN

In [66]:
new=data[data>1]
new.replace(np.nan,100)####将所有的缺失值替换为100

       0      1      2      3
0  100.0  100.0    3.5  100.0
1  100.0    3.0    4.0    5.0
2  100.0  100.0  100.0  100.0

In [74]:
data[data>1]

    0    1    2    3
0 NaN  NaN  3.5  NaN
1 NaN  3.0  4.0  5.0
2 NaN  NaN  NaN  NaN

In [76]:
#使用轴标签loc或整数索引iloc取子集
data.iloc[0,]

0    1.0
1    NaN
2    3.5
3    NaN
Name: 0, dtype: float64

In [80]:
ser2=pd.Series(np.arange(3),index=['a','b','c'])
ser2

a    0
b    1
c    2
dtype: int64

In [81]:
ser2.iloc[1,]

1

In [85]:
ser2.loc['a',]

0